.timeline{
    padding:0 !important;

}

/*Header*/

/*Header title*/
.timeline .timeline_header{
    padding-top: 7px;
    font-size: 18px;
    font-weight: 600;
}

.timeline .timeline_first_item{
    min-height: 8px !important; 
}

.timeline .MuiTimelineItem-root{
    min-height: 0px;
}

.timeline .MuiTimelineItem-missingOppositeContent:before{
    display:none;
}

.timeline .timeline_dot_header{
    color:gray !important;
    background-color:var(--main-color) !important;
    font-size: small !important;
    padding: 10px !important;
}

/*Remaining items*/
.timeline .timeline_dot{
    color:gray !important;
    border-color:var(--main-color) !important;
    padding: 2px !important;
}

.timeline .MuiTimelineConnector-root {
    background-color: #eee !important;
}

.timeline .timeline_dot_header .MuiSvgIcon-root{
    font-size: 15px;
    color:darkslategray;
}

.timeline .separator_padding {
    padding-left: 14px !important;
}

.timeline .timeline_content {
    padding-top: 0px !important;
    margin-bottom: 20px;
}

.timeline .MuiTimelineSeparator-root {
    flex: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 13px;
}

.timeline .MuiTimelineContent-root {
    flex: 1;
    padding: 1px 18px;
}

