
/*Margins and padding*/
.top_60 {
    margin-top:60px !important;
}

@media (max-width:911px){
    .top_60 {
        margin-top:30px !important;
    }
}

:root{
    --main-color: #E5CABC; 
}