.profile{
    background-color: white;
    border-radius: 6px;
    width:  100%;
    display: inline-block;
}

.profile_name{
    line-height: 18px;
    padding: 20px;
}

.profile_name .name{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bolder;
}

.profile_name .title{
    font-size: 15px;
    color: #777;
}

.profile_image{
    margin-top:-10px;
    -webkit-clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
    clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
}

.profile_image img {
    width: 100%;
}

.profile .timeline_item_text {
    font-size: 15px !important;
}

.profile .timeline_item_text >span {
    font-size: 15px !important;
    color:black;
    font-weight: 600;
}

a{
    color:var(--main-color) !important;
}

.profile .btn_container{
    width:100%;
    display:flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
