.footer{
    background-color: white;
    color: darkslategray;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
    border-radius: 8px;
    padding:20px 25px;
    margin-top:20px;
}

.footer .footer_copyright{
    font-size:small;
    text-align:end;
    color:#9c9c9c;
}
